streamlit
pandas
numpy
scipy
plotly
Pillow
requests
pdfkit
openpyxl
beautifulsoup4
lxml
matplotlib
xlsxwriter
xgboost
scikit-learn
lightgbm
catboost
scikit-learn
playwright
chromedriver-binary==119.0.6045.105.0
selenium-stealth==1.0.6
